.root {
    background: #EEE;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    li {
        display: inline-block;


        a {
            text-align: center;
            width: 40px;
            line-height: 38px;
            height: 40px;
            border: 1px solid black;
            border-radius: 30px;
            margin-right: 10px;
            display: inline-block;
            // color:;
            cursor: pointer;
            &:hover {
                background-color: black;
                color: #fff;

            }
        }

    }
    :global{
        .selected{
            a{
                background-color: black;
                color: #fff;  
            }
      
        }
    }

}